/Serial/launch/application.windows32
/Serial/launch/application.windows64
/Serial/launch/windows-amd64
/Serial/launch/data/File1.dat
/Serial/launch/data/File2.dat
/Serial/launch/data/File3.dat
/Serial/launch/data/File4.dat
/Serial/launch/data/log.txt
